.btn-group{
    margin-top: 20px;
}

.btn{
    margin-right: 10px;
    border-radius: 10px;
    color: #1d1f35;
    border-width: 2px;

}

.btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-outline-light{
    --bs-btn-hover-color: #1d1f35;
    --bs-btn-border-color: #1d1f35;
    border-color: #1d1f35;
}

.btn-light{
    --bs-btn-hover-color: #1d1f35;
}

.btn-outline-light:hover{
    color: #1d1f35;;
}

.btn-light:hover{
    color: #1d1f35;
}